.ui-missing-data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: var(--error-color);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {

    svg {
      width: 2.4em;
      height: 2.4em;
      fill: var(--error-color);
    }
  }

  &__title {
    font-weight: 700;
  }
}
