.calendar-page {

  .day {

    &.day-start {
      color: var(--white);
    }
  }

  .ui-loader__dimmer {
    background-color: rgba(var(--white-rgb), .9);
  }
}

.calendar {

  &__info-item {

    &:before {
      content: '';
      display: inline-block;
      width: .8em;
      height: .8em;
      margin-right: .5em;
    }

    &.holiday:before {
      background-color: rgba(var(--light-theme-color-rgb), .85);
    }
  }

  &__change-day-modal-body {
    display: grid;
    grid-gap: 1em;
  }

  .year-title {
    color: var(--medium-theme-color);
  }

  .year-title.year-neighbor {
    color: var(--light-theme-color);
  }

  .year-title.year-neighbor2 {
    color: rgba(var(--light-theme-color-rgb), .8);
  }
}
