@import "../../static/css/colors";

.calendar-page {

  .day {

    &.day-start {
      color: $white;
    }
  }
}

.calendar {

  &__change-day-modal-body {
    display: grid;
    grid-gap: 1em;
  }
}
