@import "../../../../static/css/colors";

.info {

  &__item {
    display: grid;
    grid-template: auto / .6fr .4fr;
    grid-gap: 1em;

    .title {
      font-size: .9em;
      align-self: end;
      word-break: break-word;
    }

    .value {
      font-size: 1em;
      font-weight: 400;
      color: rgba($stylish-color, .8);
      word-break: break-word;
      align-self: end;
      // justify-self: flex-end;
      //text-align: end;
    }
  }
}
