.rl-loader {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zindex-absolute);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(-1em);
  user-select: none;

  $parent: &;

  &_type_dimmed {
    background-color: alpha-color(var(--color-white), 0.85);
  }

  &_position_absolute {
    position: absolute;
    z-index: var(--zindex-absolute);
  }

  &_position_fixed {
    position: fixed;
    z-index: var(--zindex-fix);
  }

  &__inner {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    text-align: center;
  }

  &_direction_column {
    #{$parent}__inner {
      flex-direction: column;
      gap: var(--space-sm);
    }
  }
}
