.ui-select {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: .8em;
  background: var(--white);
  border: 1px solid rgba(var(--theme-border-color-rgb), 0.4);
  cursor: pointer;
  padding: .2em;

  svg {
    width: 1em;
    height: 1em;
    transition: all 0.1s ease;
    stroke: var(--medium-theme-color);
  }

  &__input {
    padding: .6em;
    border-radius: .8em;
    width: 100%;
    appearance: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8em;
    height: 100%;
    min-width: 1.8em;
    padding: .6em .6em .6em 0;
  }

  &__options-wrapper {
    display: none;
  }

  &__options-background {
    display: none;
  }

  &__options {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    padding-top: 2.6em;
    border-radius: .8em;
    z-index: 1;
    box-shadow: -1px 3px 6px rgba(var(--theme-border-color-rgb), 0.25),
    -1px 3px 3px rgba(var(--theme-border-color-rgb), 0.15),
    1px 3px 3px rgba(var(--theme-border-color-rgb), 0.15),
    1px 3px 6px rgba(var(--theme-border-color-rgb), 0.25);
    overflow: hidden;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--white);

    li {
      padding: .8em;
      cursor: pointer;
      text-align: left;
      user-select: none;

      &:hover {
        background: rgba(var(--medium-theme-color-rgb), .6);
        color: var(--white);
      }
    }
  }

  &.active &__input {
    z-index: 2;
  }

  &.active &__options-wrapper {
    display: block;
  }

  &.active {
    border-radius: .8em .8em 0 0;
    border-color: transparent;
    z-index: 2;
  }

  &.active &__button {
    z-index: 2;
  }

  &.active &__button svg {
    transform: rotate(180deg);
  }

  /* ****************************** transparent ********************************** */
  &.--transparent {
    background-color: rgba(var(--white-rgb), .6);
  }

  &.--transparent.active {
    background-color: var(--white);
  }
}

@media screen and (max-width: 767px) {
  .ui-select {

    &__options-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      background: rgba(var(--theme-border-color-rgb), .7);
      z-index: 10;
    }

    &__options-background {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(var(--theme-border-color-rgb), 0.7);
    }

    &__options {
      position: unset;
      width: 95%;
      margin: auto;
      border-radius: .6em;
    }

    &.active &__options-wrapper {
      display: flex;
    }

    ul {

      li {
        padding: 1.5em;
      }
    }
  }
}
