.ui-popup {
  position: absolute;
  top: 2em;
  bottom: 2em;
  left: 1em;
  background-color: var(--white);
  z-index: 8;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__top-panel {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(var(--light-theme-color-rgb), .8), rgba(var(--medium-theme-color-rgb), .8));
    line-height: 2em;
    text-align: center;
    width: 100%;
    height: 2em;
    user-select: none;
  }

  &__title {
    color: var(--white);
    margin: 0 auto;
  }

  &__close-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 100%;
    user-select: none;
  }

  &__close-btn {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white);

    svg {
      width: .8em;
      height: .8em;
    }
  }

  &__data-block {
    flex: 1;
    padding: .5em;
  }

  &__body {
    width: 100%;
    height: 100%;
  }

  .ui-scroll-to-top {
    opacity: 0.8;

    &:hover {
     opacity: 1;
    }
  }

  &.--right {
    right: 1em;
    left: unset;

    @media screen and (max-width: 450px) {
      right: 1em;
      left: 1em;
    }
  }

  &.--right &__title {
    order: 2;

    @media screen and (max-width: 450px) {
      order: unset;
    }
  }

  &.--25 {
    width: 25%;

    @media screen and (max-width: 1650px) {
      width: 35%;
    }

    @media screen and (max-width: 1350px) {
      width: 45%;
    }

    @media screen and (max-width: 1000px) {
      width: 60%;
    }

    @media screen and (max-width: 450px) {
      width: unset;
    }
  }

  &.--35 {
    width: 35%;

    @media screen and (max-width: 1650px) {
      width: 45%;
    }

    @media screen and (max-width: 1350px) {
      width: 55%;
    }

    @media screen and (max-width: 1000px) {
      width: 70%;
    }

    @media screen and (max-width: 450px) {
      width: unset;
    }
  }

  &.--55 {
    width: 55%;

    @media screen and (max-width: 1650px) {
      width: 65%;
    }

    @media screen and (max-width: 1350px) {
      width: 75%;
    }

    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    @media screen and (max-width: 450px) {
      width: unset;
    }
  }

  /* ********************************* rounded **************************** */
  &.--rounded {
    box-shadow: -2px 3px 10px rgba(var(--theme-border-color-rgb), 0.25),
    -2px 3px 4px rgba(var(--theme-border-color-rgb), 0.15),
    2px 3px 4px rgba(var(--theme-border-color-rgb), 0.15),
    2px 3px 10px rgba(var(--theme-border-color-rgb), 0.25);
  }

  &.--rounded,
  &.--rounded &__wrapper {
    border-radius: .8em;
  }

  &.--rounded &__top-panel {
    border-radius: .8em .8em 0 0;
  }

  /* ********************************* styled **************************** */
  &.--styled {
    background: var(--white) url(../../static/images/gold_right.png) no-repeat right bottom;
  }

  &.--styled &__wrapper {
    background: transparent url(../../static/images/gold_left_top.png) no-repeat left top;
  }
}
