@import "../../static/css/colors_old";

.settings-page {

  .tab {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }

  .input-block {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 1.5em;
    padding-right: .5em;
    font-size: .85em;
  }

  .controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: .9em;
  }

  .item {
    display: flex;
    align-items: center;
    grid-gap: .2em;

    @media screen and (max-width: 767px) {
      display: grid;
      grid-template: auto / 1fr;
    }

    &__title {
      flex: .4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: rgba(var(--theme-border-color-rgb), 0.25);
      padding: 0.4em;
      border: 1px solid rgba(var(--theme-border-color-rgb), .7);
      text-align: center;

      @media screen and (max-width: 767px) {
        flex: unset;
      }
    }

    &__body {
      display: grid;
      grid-template: auto / 1fr;
      grid-gap: .2em;
      flex: .6;

      @media screen and (max-width: 767px) {
        flex: unset;
      }
    }
  }

  &__main-tab {

    .input-block {
      grid-gap: .5em;
    }
  }

  &__queue-phone-tab {

  }

  &__time-zone-tab {

    .item {

      &__body {

        @media screen and (min-width: 768px) {
          display: flex;
          grid-gap: .2em;
        }

        .ui-react-select {

          @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
          }

          &__title {

            @media screen and (min-width: 768px) {
              border-right: none;
              border-bottom: 1px solid rgba(var(--theme-border-color-rgb), 0.5);
              width: 100%;
            }
          }

          &__body {

            @media screen and (min-width: 768px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__completion-codes-tab {

    .table {
      overflow: auto;
      font-size: .9em;

      &__checkbox-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
