.settings-page {

  .controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 12px;
  }

  &__tab {
    position: relative;
    width: 100%;
    height: 100%;

    .ui-input {
      margin: .1em 0;
    }
  }

  &__tab.users {

    .users-filter {
      display: grid;
      grid-template: auto / repeat(5, 1fr);
      grid-gap: 1em;
    }

    .ui-rsuite-table {
      grid-template: 90px 1fr 50px/1fr;

      &__control-block {
        z-index: 3;
      }
    }
  }

  &__add-template-popup .add-item-popup__table {
    display: grid;
    grid-template: auto minmax(0, 1fr) / minmax(0, 1fr);
    grid-gap: 1em;
    overflow: unset;
    left: .7em;
    right: .7em;
  }
}

.template-editor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: auto minmax(0, 1fr) / minmax(0, 1fr);

  &__title {
    background-color: rgba(var(--theme-border-color-rgb), .05);
    border: 1px solid rgba(var(--theme-border-color-rgb), .5);
    border-bottom: none;
    padding: .8em;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .required-icon {
      color: var(--error-color);
      transform: scale(1.5);
      margin-left: .2em;
    }
  }

  &__body {
    position: relative;
  }

  .backdrop,
  textarea {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1.2em;
    outline: none;
    line-height: 1.8em;
    overflow-wrap: break-word;
    display: inline-block;
    align-items: center;
    border: 1px solid rgba(var(--theme-border-color-rgb), .5);
    transition: border-color .15s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .backdrop {
    z-index: 1;
    background-color: var(--white);
    pointer-events: none;
  }

  .highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
  }

  textarea {
    z-index: 2;
    background-color: transparent;
    resize: none;

    &:focus {
      box-shadow: inset 1px 1px 5px rgba(var(--medium-theme-color-rgb), 0.5),
      inset -11px -1px 5px rgba(var(--medium-theme-color-rgb), 0.5);
      border-color: transparent;
    }
  }

  mark {
    border-radius: .3em;
    color: transparent;
    padding: .3em 0;
    background-color: rgba(var(--light-theme-color-rgb), .3);
  }
}
