// Colors Variables
$primary: #5C6BC0; // blue
$success: #8BC34A; // green
$danger: #F44336; // red
$warning: #FFB74D; // yellow

// Container and loader__bars dimentions
$containerDimentions: 2.5em;
$loader__barDimentions: .85em;

// custom translation for each loader__bar in an loader--animation
@mixin customTranslate($loader__bar, $tx, $ty) {
  @if $loader__bar == 1 {
    transform: translate($tx, $ty);
  } @else if $loader__bar == 2 {
    transform: translate(-$ty, $tx);
  } @else if $loader__bar == 3 {
    transform: translate($ty, -$tx);
  } @else if $loader__bar == 4 {
    transform: translate(-$tx, -$ty);
  }
}

.loader--google {
  width: $containerDimentions;
  height: $containerDimentions;
  position: relative;

  .loader__bar {
    position: absolute;
    width: $loader__barDimentions;
    height: $loader__barDimentions;
    border-radius: 1px;

    &.bar1 {
      left: 0;
      background-color: $primary;
    }

    &.bar2 {
      right: 0;
      background-color: $success;
    }

    &.bar3 {
      bottom: 0;
      background-color: $warning;
    }

    &.bar4 {
      bottom: 0;
      right: 0;
      background-color: $danger;
    }
  }
}

.ui-loader--animation-1 {

  .loader--google {
    transform: rotate(45deg);
  }
}

.ui-loader--animation-2,
.ui-loader--animation-4 {

  .loader--google {
    transform: rotate(10deg);

    .loader__bar {
      border-radius: 50%;
    }
  }
}

.ui-loader--animation-2,
.ui-loader--animation-3,
.ui-loader--animation-4 {

  .loader--google {
    animation: rotation 1s infinite;
  }
}

.ui-loader--animation-3 {

  .loader--google {

    .loader__bar {

      &.bar1 {
        border-top-left-radius: $loader__barDimentions;
      }

      &.bar2 {
        border-top-right-radius: $loader__barDimentions;
      }

      &.bar3 {
        border-bottom-left-radius: $loader__barDimentions;
      }

      &.bar4 {
        border-bottom-right-radius: $loader__barDimentions;
      }
    }
  }
}

.ui-loader--animation-4,
.ui-loader--animation-5 {

  .loader--google {
    transform: rotate(45deg);
  }
}

.ui-loader--animation-5 {

  .loader--google {

    .loader__bar {
      width: 1.25em;
      height: 1.25em;
    }
  }
}

.ui-loader--animation-6 {

  .loader--google {
    animation: rotation 1s infinite;

    .loader__bar {
      width: 1em;
      height: 1em;
      border-radius: 2px;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@for $i from 1 through 6 {
  @for $j from 1 through 4 {

    $duration: 0.5s;
    $timing: ease;
    $delay: 0s;
    $direction: alternate;

    $a: null;
    @if $i==1 {
      $a: 1.3333333em;
    } @else if $i==2 {
      $a: 1.6666666em;
    } @else if $i==3 {
      $a: .416666em;
    } @else if $i==4 {
      $a: .416666em;
      $duration: 0.3s;
      @if $j == 2 or $j == 3 {
        $delay: 0.3s;
      }
    } @else if $i==5 {
      $a: 1.25em;
      $duration: 2s;
      $direction: reverse;
    } @else if $i==6 {
      $a: 1.5em;
      $timing: linear;
      $duration: 2s;
      $direction: normal;
    }

    .ui-loader--animation-#{$i} {
      .loader__bar {

        &.bar#{$j} {
          animation: loader--animation#{$i}loader__bar#{$j}
          $duration $timing $delay infinite $direction;
        }
      }
    }
    @if $i == 5 or $i == 6 {
      @keyframes loader--animation#{$i}loader__bar#{$j} {
        0% {
          transform: translate(0, 0)
        }
        25% {
          @include customTranslate($j, 0, $a)
        }
        50% {
          @include customTranslate($j, $a, $a)
        }
        75% {
          @include customTranslate($j, $a, 0)
        }
      }
    } @else {
      @keyframes loader--animation#{$i}loader__bar#{$j} {
        from {
          transform: translate(0, 0)
        }
        to {
          @include customTranslate($j, $a, $a)
        }
      }
    }
  }
}

