.reports-grid-page {

  &__top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--theme-border-color-rgb), 0.05);
    padding: 0 1em;
    border: 1px solid rgba(var(--theme-border-color-rgb), 0.25);
    border-radius: .4em;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__report-list {
    flex: 1 2 305px;
    padding: 1.2em 0;
  }

  &__toolbox-title {
    flex: 1 2 305px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--theme-title-color);
    padding: .4em 0;

    @media screen and (max-width: 767px) {
      text-align: start;
    }
  }

  &__toolbox-selector {
    flex: 1 2 305px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .4em 0;

    @media screen and (max-width: 767px) {
      justify-content: flex-start;
    }
  }

  &__save-btn {
    margin-left: 1.4em;
  }

  &__body {
    flex: 1;
    position: relative;
    margin-top: .7em;
  }

  &__scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: scroll;
  }
}
