.reports-grid-page {

  &__top-menu {
    display: flex;
    align-items: center;
  }

  &__report-list {
    flex: 1;
  }

  &__toolbox {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__save-btn {
    margin-left: 1.4em;
  }

  &__body {
    flex: 1;
    position: relative;
    margin-top: .7em;
  }

  &__scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: scroll;
  }
}
