@import "../../static/css/colors";

.ui-block-title {
  width: 100%;
  margin-bottom: 1.7em;
  word-break: break-all;

  &__main {
    font-size: 2em;
    font-weight: 300;
    color: $medium-theme-color;
  }

  &__sub {
    font-size: .8em;
    color: $theme-border-color;
  }
}
