.ui-block-title {
  width: 100%;
  margin-bottom: 1.7em;
  word-break: break-all;

  &__main {
    font-size: 2em;
    color: var(--theme-title-color);
  }

  &__sub {
    font-size: .8em;
    color: var(--theme-subtitle-color);
  }
}
