$h: 2.5em;

.loader--block-wave {
  height: $h;
  width: 7.15em;
  position: relative;
  overflow: hidden;

  .loader__bar {
    background: var(--medium-theme-color);
    height: $h;
    position: absolute;
    bottom: 0;
    width: .85em;
    border-radius: .2em;

    &:nth-child(1) {
      left: 0;
      animation: bottom-top 2s infinite ease-in-out 0.2s;
    }

    &:nth-child(2) {
      left: 1.25em;
      animation: bottom-top 2s infinite ease-in-out 0.4s;
    }

    &:nth-child(3) {
      left: 2.5em;
      animation: bottom-top 2s infinite ease-in-out 0.6s;
    }

    &:nth-child(4) {
      left: 3.75em;
      animation: bottom-top 2s infinite ease-in-out 0.8s;
    }

    &:nth-child(5) {
      left: 5em;
      animation: bottom-top 2s infinite ease-in-out 1s;
    }

    &:nth-child(6) {
      left: 6.25em;
      animation: bottom-top 2s infinite ease-in-out 1.2s;
    }
  }
}

@keyframes bottom-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
