@import "../../static/css/colors_old";

.reports-page {
  display: flex;
  flex-direction: column;

  .ui-rsuite-table {
    grid-template: 90px 1fr 50px / 1fr;

    @media screen and (max-width: 767px){
      grid-template: 140px 1fr 100px / 1fr;
    }
  }

  &__actual-state-tab {
    display: flex;
    flex-direction: column;
    flex: 1;

    .actual-state-filter {
      display: grid;
      grid-template: auto / repeat(4, 1fr);
      grid-gap: .5em;

      @media screen and (max-width: 767px){
        grid-template: auto auto / repeat(2, 1fr);
        grid-gap: 1.5em;
      }
    }
  }

  &__history-tab {
    flex: 1;
    display: flex;
    flex-direction: column;

    .controls-block {
      display: grid;
      grid-template: auto auto / 1fr;
      grid-gap: .5em;
      z-index: 3;

      .excell-block {
        margin-left: auto;
      }
    }

    .history-filter {
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      grid-gap: .5em;

      @media screen and (max-width: 767px){
        grid-template: auto auto / repeat(2, 1fr);
        grid-gap: 1.5em;

        div:first-of-type {
          grid-column-end: span 2;
        }
      }
    }

    .history-table {
      margin: 10px 0;
      overflow: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;

      &__body {
        flex: 1;
      }

      &.loading {
        overflow: hidden;
      }

      .ui.small.progress {
        margin: 0;
        min-width: 250px;
      }

      .ui.progress .bar > .progress {
        font-size: 8px;
        font-weight: normal;
        color: $white;
      }

      .ui.table thead th {
        background-color: #dae1e7;
      }

      &__row-header {
        background-color: #eaedf1;
      }
    }
  }
}
