.ui-rsuite-table {

  &.--transparent &__table {
    background-color: transparent;
  }

  &.--transparent &__table .rs-table-cell {
    background: transparent;
  }

  &__table .rs-table:not(.rs-table-bordered) {
    border-color: transparent;
  }

  &__table .rs-table.rs-table-bordered:not(.rs-table-cell-bordered) .rs-table-cell {
    border-color: transparent;
  }

  &__table .rs-table.rs-table-cell-bordered .rs-table-cell.rs-table-cell-last {
    border-right-color: transparent;
  }

  &__table {
    background-color: var(--white);
  }

  .rs-table-row-header,
  .rs-table-row-header .rs-table-cell {
    // background: rgba(var(--elegant-color), .2);
  }

  .rs-table-cell .rs-table-cell-content {
    display: flex;
    align-items: center;
    padding: .8em;
  }

  .rs-table-cell-header.actions .rs-table-cell-content {
    justify-content: center;
  }

  &__cell.--icon-actions {
    font-size: .8em;

    .rs-table-cell-content {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .ui-rsuite-table__cell-data {
      display: flex;
      align-items: center;

      .ui.button {
        display: flex;
        align-items: center;
        justify-content: center;

        > .icon {
          width: 1em;
          height: 1em;

          &:before {
            width: 1em;
            height: 1em;
            display: inline-block;
          }
        }
      }
    }
  }

  &__cell.--actions {

    .ui-rsuite-table__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      svg {
        width: 1em;
        height: 1em;
      }
    }

    .rs-table-cell-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .rs-table-cell-group-fixed-right,
    .rs-table-cell.rs-table-cell-last {

      .rs-table-cell-content {
        padding-right: 18px;
      }
    }
  }

  .rs-table-cell-header-sort-wrapper {
    margin-left: .5em;
  }

  .rs-table-cell-header-icon-sort {

    &:after {
      display: inline-block;
      transform: rotate(90deg);
      content: '\f362';
      font-style: normal;
      font-family: Icons, serif;
      font-size: .7em;
    }

    &.rs-table-cell-header-icon-sort-desc {

      &:after {
        transform: none;
        color: var(--medium-theme-color);
        content: '\f309';
      }
    }

    &.rs-table-cell-header-icon-sort-asc {

      &:after {
        transform: none;
        color: var(--medium-theme-color);
        content: '\f30c';
      }
    }
  }

  .rs-table-column-resize-spanner {
    width: 3px;

    &:hover {
      background: var(--medium-theme-color);
    }
  }

  .rs-table-mouse-area {
    background: var(--medium-theme-color);
  }

  .rs-table:not(.rs-table-column-resizing) .rs-table-cell-header .rs-table-cell:hover~.rs-table-column-resize-spanner,
  .rs-table:not(.rs-table-column-resizing) .rs-table-column-resize-spanner:hover {
    background-color: var(--medium-theme-color);
  }

  .rs-table:not(.rs-table-column-resizing) .rs-table-cell-header .rs-table-cell:hover~.rs-table-column-resize-spanner:after,
  .rs-table:not(.rs-table-column-resizing) .rs-table-cell-header .rs-table-cell:hover~.rs-table-column-resize-spanner:before,
  .rs-table:not(.rs-table-column-resizing) .rs-table-column-resize-spanner:hover:after,
  .rs-table:not(.rs-table-column-resizing) .rs-table-column-resize-spanner:hover:before {
    display: block;
  }

  .rs-table-column-resize-spanner:after,
  .rs-table-column-resize-spanner:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: none;
  }

  .rs-table-column-resize-spanner:after {
    border: 3px dashed transparent;
    border-left: 3px solid var(--medium-theme-color);
    left: 4px;
  }

  .rs-table-column-resize-spanner:before {
    border: 3px dashed transparent;
    border-right: 3px solid var(--medium-theme-color);
    right: 4px;
  }

  .rs-table-scrollbar-horizontal .rs-table-scrollbar-pressed,
  .rs-table-scrollbar-horizontal:hover {
    height: 10px;
    box-shadow: none;
  }

  .rs-table-scrollbar-vertical .rs-table-scrollbar-pressed,
  .rs-table-scrollbar-vertical:hover {
    width: 10px;
    box-shadow: none;
  }

  .rs-table-scrollbar-horizontal .rs-table-scrollbar-pressed .rs-table-scrollbar-handle,
  .rs-table-scrollbar-horizontal:hover .rs-table-scrollbar-handle {
    top: 1px;
    height: 8px;
  }

  .rs-table-scrollbar-vertical .rs-table-scrollbar-pressed .rs-table-scrollbar-handle,
  .rs-table-scrollbar-vertical:hover .rs-table-scrollbar-handle {
    left: 1px;
    width: 8px;
  }

  .rs-table-scrollbar {
    background: rgba(var(--light-theme-color-rgb),.2);
  }

  .rs-table-scrollbar-handle {
    background: rgba(var(--light-theme-color-rgb),.8);
  }
}
