.rl-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  $parent: &;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 2.6em;
    margin: 0 var(--space-sm) 0 0;
    user-select: none;
  }

  &__title {
    position: relative;
    display: inline-block;

    span {
      color: var(--color-text);
      font-size: var(--text-sm);
    }

    span:first-of-type {
      padding-right: var(--space-xxxxs);
      color: var(--color-text-darker);
      font-weight: 700;
      font-size: var(--text-md);
    }
  }

  &_direction_column {
    flex-direction: column;

    #{$parent}__image {
      margin: var(--space-xxs) 0;
    }

    #{$parent}__title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
