.rl-icon {
  overflow: hidden;
  line-height: 1;

  svg {
    width: 100%;
    height: 100%;
  }

  @include icon;
  @include defineSizeClasses;

  &_type_circular {
    border-radius: var(--radius-circular);
  }
}
