$sizes: (
        xs: var(--text-xs),
        sm: var(--text-sm),
        md: var(--text-md),
        lg: var(--text-lg),
        xl: var(--text-xl),
        xxl: var(--text-xxl),
        xxxl: var(--text-xxxl),
        xxxxl: var(--text-xxxxl)
) !default;