.rating-report-by-settlements {

  &__body {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-gap: 1em;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
  }
}

