.auth-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  &__logo {

    .ui-logo {
      padding: 0 0 1em 0;
      font-size: 1.8em;
    }
  }

  &__form {
    width: 100%;
    border-radius: .6em;
    border: 1px solid rgba(var(--theme-border-color-rgb), .5);
  }

  .form {

    &__body {
      position: relative;
      display: grid;
      grid-template: auto / 1fr;
      grid-gap: 1em;
      padding: 2.4em;
    }

    &__loader {
      border-radius: .6em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(var(--white-rgb), .95);
    }

    &__header {
      font-size: 1.5em;
      color: var(--theme-title-color);
    }

    &__input-block {
      width: 100%;
      display: grid;
      grid-template: auto / 1fr;
      grid-gap: 1em;
      margin: 1.5em 0 1em 0;
    }

    &__btn-block {
      width: 100%;
    }

    &__errors-block {
      width: 100%;
      text-align: center;
      color: var(--error-color);
    }
  }
}

@media screen and (max-width: 1100px) {
  .auth-page {

    &__banner {
      height: 100%;
    }

    &__form {
      border: none;
      border-radius: 0;
      box-shadow: none;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
