.auth-page {
  width: 100%;
  height: 100%;

  &__banner {
    position: relative;

    & > svg {
      width: 100%;
      height: 10vw;
      background: var(--dark-theme-color);
      display: block;

      & > g > use {
        animation: move 120s linear infinite;

        &:nth-child(1) {
          animation-delay: -2s;
          fill: var(--light-theme-color);
        }

        &:nth-child(2) {
          animation-delay: -2s;
          animation-duration: 68s;
          fill: var(--medium-theme-color);
        }

        &:nth-child(3) {
          animation-delay: -4s;
          animation-duration: 40s;
          fill: var(--white);
        }
      }
    }
  }

  .banner__content {
    background: linear-gradient(180deg, var(--medium-theme-color) 0%, var(--dark-theme-color) 100%);
    padding-top: 8%;
    padding-bottom: 8%;

    h1 {
      text-align: center;
      color: var(--white);
      font-size: 2.5em;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  &__form {
    position: absolute;
    top: calc(100% - 10vw);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    border-radius: .6em;
    box-shadow: 1px 3px 10px rgba(var(--dark-theme-color), .4), -1px -3px 5px rgba(var(--white), .7);
    background-color: var(--white);
  }


  .form {

    &__body {
      position: relative;
      display: grid;
      grid-template: auto / 1fr;
      grid-gap: 1em;
      padding: 2.4em;
    }

    &__loader {
      border-radius: .6em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(var(--white), .95);
    }

    &__header {
      font-size: 1.5em;
    }

    &__input-block {
      width: 100%;
      display: grid;
      grid-template: auto / 1fr;
      grid-gap: 1em;
      margin: 1.5em 0 1em 0;
    }

    &__btn-block {
      width: 100%;
    }

    &__errors-block {
      width: 100%;
      text-align: center;
      color: var(--error-color);
    }
  }
}

@media screen and (max-width: 1100px) {
  .auth-page {

    &__banner {
      height: 100%;
    }

    .banner__content {
      padding-top: 25%;
      padding-bottom: 25%;

      h1 {
        font-size: 2em;
      }
    }

    &__form {
      border: none;
      border-radius: 0;
      box-shadow: none;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

@keyframes move {
  from {
    transform: translate(-90px, 0%);
  }

  to {
    transform: translate(90px, 0%);
  }
}
