:root {
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --elegant-color: #2e2e2e;
  --dark-elegant-color: #212121;
  --stylish-color: #4b515d;
  --stylish-color-rgb: 75, 81, 93;
  --dark-stylish-color: #3e4551;
  --primary-color: #4285f4;
  --dark-primary-color: #0d47a1;
  --secondary-color: #aa66cc;
  --dark-secondary-color: #9933cc;
  --default-color: #2bbbad;
  --dark-default-color: #00695c;
  --info-color: #33b5e5;
  --dark-info-color: #0099cc;
  --warning-color: #ffbb33;
  --dark-warning-color: #ff8800;
  --success-color: #00c851;
  --dark-success-color: #007E33;
  --error-background-color: #ffecec;
  --error-color: #ff4444;
  --error-color-rgb: 255, 68, 68;
  --dark-error-color: #cc0000;
  --strong-theme-color: #472066;
  --strong-theme-color-rgb: 71, 32, 102;
  --dark-theme-color: #602576;
  --dark-theme-color-rgb: 96, 37, 118;
  // --medium-theme-color: #922c88;
  // --medium-theme-color-rgb: 146, 44, 136;
  --medium-theme-color: #50639c;
  --medium-theme-color-rgb: 80, 99, 156;
/*  --light-theme-color: #b76dab;
  --light-theme-color-rgb: 183, 109, 171;*/
  --light-theme-color: #9aa7d1;
  --light-theme-color-rgb: 154, 167, 209;
/*  --theme-border-color: #b3b3b3;
  --theme-border-color-rgb: 179, 179, 179;*/
  --theme-border-color: #cbc9f6;
  --theme-border-color-rgb: 203, 201, 246;
  --theme-disabled-color: #eeeeef;
  --theme-page-background: #f8f8f8;
  --theme-element-wrapper-background: #ffffff;
  --theme-title-color: #50639c;
  --theme-subtitle-color: #9aa7d1;
  --theme-text-color: #4c61a2;
  --theme-menu-color: #50639c;
  --theme-menu-active-color: #8a6bec;
  --theme-logo-title-color: #922c88;
  --theme-logo-subtitle-color: #b76dab;
}
