$white: #ffffff;
$elegant-color: #2e2e2e;
$dark-elegant-color: #212121;
$stylish-color: #4b515d;
$dark-stylish-color: #3e4551;
$primary-color: #4285f4;
$dark-primary-color: #0d47a1;
$secondary-color: #aa66cc;
$dark-secondary-color: #9933cc;
$default-color: #2bbbad;
$dark-default-color: #00695c;
$info-color: #33b5e5;
$dark-info-color: #0099cc;
$warning-color: #ffbb33;
$dark-warning-color: #ff8800;
$success-color: #00c851;
$dark-success-color: #007E33;
$error-background-color: #ffecec;
$error-color: #ff4444;
$dark-error-color: #cc0000;
$strong-theme-color: #472066;
$dark-theme-color: #602576;
$medium-theme-color: #992f88;
$light-theme-color: #da3a8b;
$theme-border-color: #b3b3b3;
$theme-disabled-color: #eeeeef;

/* *********** all ************ */
$royal-purple: #7D3DAF;
$gold: #ffd700;
$holly: #000201;
$shark: #2C2E33;
$mako: #3E4047;
$dim-gray: #707070;
$shuttle-gray: #656870;
$white-aluminum: #A4A4A4;
$silver-sand: #BFC0C1;
$athens-gray: #EEEEEF;
$light_athens-gray: #F9FAFB;
$dark-athens-gray: #e9ecef;
$ghost: #CED4DA;
$light_ghost: #c2c7d0;
$paris_White: #CBDDD5;
$zircon: #EFF3FF;
$geyser: #DEE2E6;
$chablis: #FFF6F6;
$downriver: #091E42;
$pickled-bluewood: #344563;
$persian_blue: #1C3A9E;
$royal-blue: #3768F1;
$indigo: #5469D4;
$cornflower-blue: #6195ED;
$denim: #1678C2;
$azure-radiance: #0088FF;
$light-azure-radiance: #007BFF;
$curious_blue: #2185D0;
$boston_blue: #3C8DBC;
$malibu: #80BDFF;
$jordy-blue: #87A4F6;
$hawkes-blue: #D7E1FC;
$stiletto: #9F3A38;
$alizarin_crimson: #d01919;
$light_alizarin_crimson: #DB2828;
$deep-coral: #FE443D;
$sunset-orange: #FF4D4D;
$persimmon: #FF5F4F;
$mona-lisa: #FF9494;
$cavern_pink: #E0B4B4;
$cosmos: #FFDBDB;
$outer_space: #343A40;
$trout: #4B545C;
$pale_sky: #6C757D;
$gray: #808080;
$waterloo: #858796;
$light_iron: #E0E1E2;
$iron: #cacbcd;
$zuccini: #084F35;
$elf_green: #0D9564;
$christi: #62A710;
$malachite: #1BD741;
$light_mountain_meadow: #19BB4F;
$mountain_meadow: #16ab39;
$deep_mountain_meadow: #21BA45;
$wild-willow: #A0CA6F;
$persian_green: #00B5AD;
$shamrock: #2CC185;
$bermuda: #77DFB5;
$chrome-white: #DFEDCF;
$mischka: #E5E2E7;
