/* Указываем box sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
    font: inherit;
  }
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Сбрасываем стиль для ссылок */
a:not(:hover) {
  text-decoration: none;
}

/* Сбрасываем стиль для кнопок */
button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Скрытый заголовок для SEO */
/*  h5 {
    display: none;
  }*/

/* Длинный текст в одну строку */
.ellipsis-element {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.App input,
.App button,
.App textarea,
.App select,
.App button.ui.button.button,
.App .ui.segment {
  font: inherit;
}

.App .ui.segment {
  border: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}
