.react-grid-item {
  display: flex;
  flex-direction: column;

  &.react-grid-placeholder {
    background-color: rgba(var(--light-theme-color-rgb), .4);
  }

  & > .react-resizable-handle::after {
    width: 6px;
    height: 6px;
  }
}
