.react-grid-item {
  display: flex;
  flex-direction: column;

  &:hover {
    z-index: 10;
  }

  &:focus-within {
    z-index: 11;
  }

  &.react-grid-placeholder {
    background-color: rgba(var(--light-theme-color-rgb), .4);
  }

  & > .react-resizable-handle::after {
    width: 6px;
    height: 6px;
  }
}
