$default_size: 1em;

// basic
@mixin icon($size: $default_size) {
  width: $size;
  height: $size;
}

// size class
@mixin defineIconSizeClasses($class) {
  @if $class {
    @each $name, $size in $sizes {
      &#{$class}_size_#{$name} {
        @include icon(#{$size});
      }
    }
  } @else {
    @debug 'Icon class argument not defined';
  }
}
