.ui-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 6px;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;

  .ui-loader {
    &::before {
      border-color: rgba(0, 0, 0, .15);
    }

    &::after {
      border-color: #fff transparent transparent;
    }
  }

  svg {
    fill: var(--white);
  }

  &__loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
  }

  &__left-icon,
  &__right-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left-icon {
    margin-right: 5px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__right-icon {
    margin-left: 5px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.primary {
    color: var(--white);
    background-color: var(--curious_blue);

    &:hover {
      background-color: var(--denim);
      box-shadow: 0 5px 10px rgba(var(--denim), .2);
    }
  }

  &.primary-empty {
    background-color: var(--white);
    border: 1px solid var(--curious_blue);
    color: var(--curious_blue);

    svg {
      fill: var(--curious_blue);
    }

    .ui-loader {
      &::before {
        border-color: rgba(var(--curious_blue), .15);
      }

      &::after {
        border-color: var(--curious_blue) transparent transparent;
      }
    }

    &:hover {
      color: var(--white);
      background-color: var(--curious_blue);
      box-shadow: 0 5px 10px rgba(var(--curious_blue), .2);

      svg {
        fill: var(--white);
      }

      .ui-loader {
        &::before {
          border-color: rgba(0, 0, 0, .15);
        }

        &::after {
          border-color: #fff transparent transparent;
        }
      }
    }
  }

  &.positive {
    background-color: var(--light_mountain_meadow);
    color: var(--white);

    &:hover {
      color: var(--white);
      background-color: var(--mountain_meadow);
      box-shadow: 0 5px 10px rgba(var(--mountain_meadow), .2);
    }
  }

  &.negative {
    background-color: var(--light_alizarin_crimson);
    color: var(--white);

    &:hover {
      color: var(--white);
      background-color: var(--alizarin_crimson);
      box-shadow: 0 5px 10px rgba(var(--alizarin_crimson), .2);
    }
  }

  &.black {
    color: var(--white);
    background-color: var(--pale_sky);

    &:hover {
      background-color: var(--trout);
      box-shadow: 0 5px 10px rgba(var(--trout), .2);
    }
  }

  &.black-empty {
    background-color: var(--white);
    border: 1px solid var(--pale_sky);
    color: var(--pale_sky);

    .ui-loader {
      &::before {
        border-color: rgba(var(--pale_sky), .15);
      }

      &::after {
        border-color: var(--pale_sky) transparent transparent;
      }
    }

    svg {
      fill: var(--pale_sky);
    }

    &:hover {
      color: var(--white);
      background-color: var(--pale_sky);
      box-shadow: 0 5px 10px rgba(var(--pale_sky), .2);

      .ui-loader {
        &::before {
          border-color: rgba(0, 0, 0, .15);
        }

        &::after {
          border-color: #fff transparent transparent;
        }
      }

      svg {
        fill: var(--white);
      }
    }
  }

  &.white {
    background-color: var(--white);
    color: var(--curious_blue);
    box-shadow: 0 1px 3px 1px rgba(60,64,67,0.15),
    0 1px 2px 0 rgba(60,64,67,0.3);

    .ui-loader {
      &::before {
        border-color: rgba(var(--curious_blue), .15);
      }

      &::after {
        border-color: var(--curious_blue) transparent transparent;
      }
    }

    svg {
      fill: var(--curious_blue);
    }

    &:hover {
      color: var(--curious_blue);
      background-color: var(--hawkes-blue);
      box-shadow: 0 1px 5px rgba(var(--hawkes-blue),.1),
      1px 0 5px rgba(var(--hawkes-blue),.1);

      .ui-loader {
        &::before {
          border-color: var(--white);
        }

        &::after {
          border-color: var(--curious_blue) transparent transparent;
        }
      }

      svg {
        fill: var(--curious_blue);
      }
    }
  }

  &.max-content {
    width: max-content;
  }

  &.disabled {
    color: rgba(0,0,0,.6);
    background-color: var(--light_iron);

    svg {
      fill: rgba(0,0,0,.6);
    }

    &:hover {
      color: rgba(0,0,0,.8);
      background-color: var(--iron);
      box-shadow: 0 5px 10px rgba(var(--iron), .2);

      svg {
        fill: rgba(0,0,0,.8);
      }
    }
  }

  &.jira {
    border-radius: 3.01px;
    background-color: rgba(var(--downriver),.08);
    color: var(--pickled-bluewood);
    display: inline-block;
    height: 2.14285714em;
    line-height: 1.42857143em;
    padding: 4px 10px;
    vertical-align: baseline;
    white-space: nowrap;

    .ui-loader {
      &::before {
        border-color: rgba(var(--pickled-bluewood), .15);
      }

      &::after {
        border-color: var(--pickled-bluewood) transparent transparent;
      }
    }

    svg {
      fill: var(--pickled-bluewood);
    }

    &:hover {
      background-color: rgba(var(--downriver),.13);
    }
  }
}
