.ui-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
  z-index: 2;
}

.ui-loader__dimmer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--white-rgb), .6);
  z-index: 1;
}

/* Static Shape */

.ui-loader:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: 0.2em solid rgba(var(--medium-theme-color-rgb), 0.1);
}

/* Active Shape */

.ui-loader:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: loader 0.6s linear;
  animation: loader 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: var(--medium-theme-color) transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Sizes */

.ui-loader.mini:before,
.ui-loader.mini:after {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 -0.5rem;
}

.ui-loader.tiny:before,
.ui-loader.tiny:after {
  width: 1.14285714rem;
  height: 1.14285714rem;
  margin: 0 0 0 -0.57142857rem;
}

.ui-loader.small:before,
.ui-loader.small:after {
  width: 1.71428571rem;
  height: 1.71428571rem;
  margin: 0 0 0 -0.85714286rem;
}

.ui-loader:before,
.ui-loader:after {
  width: 2.28571429rem;
  height: 2.28571429rem;
  margin: 0 0 0 -1.14285714rem;
}

.ui-loader.large:before,
.ui-loader.large:after {
  width: 3.42857143rem;
  height: 3.42857143rem;
  margin: 0 0 0 -1.71428571rem;
}

.ui-loader.big:before,
.ui-loader.big:after {
  width: 3.71428571rem;
  height: 3.71428571rem;
  margin: 0 0 0 -1.85714286rem;
}

.ui-loader.huge:before,
.ui-loader.huge:after {
  width: 4.14285714rem;
  height: 4.14285714rem;
  margin: 0 0 0 -2.07142857rem;
}

.ui-loader.massive:before,
.ui-loader.massive:after {
  width: 4.57142857rem;
  height: 4.57142857rem;
  margin: 0 0 0 -2.28571429rem;
}

/*-------------------
        Text
--------------------*/

.ui-loader.text {
  width: auto !important;
  height: auto !important;
  text-align: center;
  font-style: normal;
}

/*-------------------
        Sizes
--------------------*/

/* Loader */

.ui-loader.mini {
  width: 1rem;
  height: 1rem;
  font-size: 0.78571429em;
}

.ui-loader.tiny {
  width: 1.14285714rem;
  height: 1.14285714rem;
  font-size: 0.85714286em;
}

.ui-loader.small {
  width: 1.71428571rem;
  height: 1.71428571rem;
  font-size: 0.92857143em;
}

.ui-loader {
  width: 2.28571429rem;
  height: 2.28571429rem;
  font-size: 1em;
}

.ui-loader.large {
  width: 3.42857143rem;
  height: 3.42857143rem;
  font-size: 1.14285714em;
}

.ui-loader.big {
  width: 3.71428571rem;
  height: 3.71428571rem;
  font-size: 1.28571429em;
}

.ui-loader.huge {
  width: 4.14285714rem;
  height: 4.14285714rem;
  font-size: 1.42857143em;
}

.ui-loader.massive {
  width: 4.57142857rem;
  height: 4.57142857rem;
  font-size: 1.71428571em;
}

/* Text Loader */

.ui-loader.mini.text {
  min-width: 1rem;
  padding-top: 1.78571429rem;
}

.ui-loader.tiny.text {
  min-width: 1.14285714rem;
  padding-top: 1.92857143rem;
}

.ui-loader.small.text {
  min-width: 1.71428571rem;
  padding-top: 2.5rem;
}

.ui-loader.text{
  min-width: 2.28571429rem;
  padding-top: 3.07142857rem;
}

.ui-loader.large.text {
  min-width: 3.42857143rem;
  padding-top: 4.21428571rem;
}

.ui-loader.big.text {
  min-width: 3.71428571rem;
  padding-top: 4.5rem;
}

.ui-loader.huge.text {
  min-width: 4.14285714rem;
  padding-top: 4.92857143rem;
}

.ui-loader.massive.text {
  min-width: 4.57142857rem;
  padding-top: 5.35714286rem;
}

.ui-loader__dot1 {
  animation: visibility1 3s linear infinite;
}

.ui-loader__dot2 {
  animation: visibility2 3s linear infinite;
}

.ui-loader__dot3 {
  animation: visibility3 3s linear infinite;
}

@keyframes visibility1 {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes visibility2 {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes visibility3 {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* ***************************************** google *********************************** */

// Colors variables
$primary: #4285F4; // blue
$success: #34A853; // green
$danger: #EA4335; // red
$warning: #FBBC05; // yellow

// Container and shapes dimentions
$containerDimentions: 30px;
$shapeDimentions: 12px;
//shape translate amount
$amount: 18px;

// custom translation for each shape in an animation
@mixin customTranslate ($shape, $tx, $ty) {
  @if  $shape == 1 {
    transform: translate($tx, $ty);
  } @else if $shape == 2 {
    transform: translate(-$ty, $tx);
  } @else if $shape == 3 {
    transform: translate($ty, -$tx);
  } @else if $shape == 4 {
    transform: translate(-$tx, -$ty);
  }
}

.ui-loader.--google {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.ui-loader.--google:before {
  content: unset;
}

.ui-loader.--google:after {
  content: unset;
}

.ui-loader.--google .ui-loader__title {
  padding-top: 1em;
}

.ui-loader.--google .ui-loader__spinner {
  position: relative;
  width: $containerDimentions;
  height: $containerDimentions;
  animation: rotation 1s infinite;

  .shape {
    position: absolute;
    width: $shapeDimentions;
    height: $shapeDimentions;
    border-radius: 2px;

    &.shape-1 {
      left: 0;
      background-color: $primary;
    }

    &.shape-2 {
      right: 0;
      background-color: $success;
    }

    &.shape-3 {
      bottom: 0;
      background-color: $warning;
    }

    &.shape-4 {
      bottom: 0;
      right: 0;
      background-color: $danger;
    }
  }

  @for $i from 1 through 4 {
    .shape-#{$i} {
      animation: shape#{$i} 2s linear infinite;
    }
  }
}

@keyframes rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

@for $i from 1 through 4 {
  @keyframes shape#{$i} {
    0% { transform: translate(0, 0) }
    25% { @include customTranslate($i, 0, $amount) }
    50% { @include customTranslate($i, $amount, $amount) }
    75% { @include customTranslate($i, $amount, 0) }
  }
}

/* ***************************************** ios *********************************** */
.ui-loader.--ios-dimmed {
  padding: 1.5em;
  border-radius: 1.3em;
  background-color: rgba(var(--medium-theme-color-rgb), 0.95);
  color: var(--white);
}
