@import "../../static/css/colors";

.ui-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

/* Static Shape */

.ui-loader:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: 0.2em solid rgba($light-theme-color, 0.1);
}

/* Active Shape */

.ui-loader:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: loader 0.6s linear;
  animation: loader 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: $medium-theme-color transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Sizes */

.ui-loader.mini:before,
.ui-loader.mini:after {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 -0.5rem;
}

.ui-loader.tiny:before,
.ui-loader.tiny:after {
  width: 1.14285714rem;
  height: 1.14285714rem;
  margin: 0 0 0 -0.57142857rem;
}

.ui-loader.small:before,
.ui-loader.small:after {
  width: 1.71428571rem;
  height: 1.71428571rem;
  margin: 0 0 0 -0.85714286rem;
}

.ui-loader:before,
.ui-loader:after {
  width: 2.28571429rem;
  height: 2.28571429rem;
  margin: 0 0 0 -1.14285714rem;
}

.ui-loader.large:before,
.ui-loader.large:after {
  width: 3.42857143rem;
  height: 3.42857143rem;
  margin: 0 0 0 -1.71428571rem;
}

.ui-loader.big:before,
.ui-loader.big:after {
  width: 3.71428571rem;
  height: 3.71428571rem;
  margin: 0 0 0 -1.85714286rem;
}

.ui-loader.huge:before,
.ui-loader.huge:after {
  width: 4.14285714rem;
  height: 4.14285714rem;
  margin: 0 0 0 -2.07142857rem;
}

.ui-loader.massive:before,
.ui-loader.massive:after {
  width: 4.57142857rem;
  height: 4.57142857rem;
  margin: 0 0 0 -2.28571429rem;
}

/*-------------------
        Text
--------------------*/

.ui-loader.text {
  width: auto !important;
  height: auto !important;
  text-align: center;
  font-style: normal;
}

/*-------------------
        Sizes
--------------------*/

/* Loader */

.ui-dimmer.inverted .ui-loader.mini,
.ui-loader.mini {
  width: 1rem;
  height: 1rem;
  font-size: 0.78571429em;
}

.ui-dimmer.inverted .ui-loader.tiny,
.ui-loader.tiny {
  width: 1.14285714rem;
  height: 1.14285714rem;
  font-size: 0.85714286em;
}

.ui-dimmer.inverted .ui-loader.small,
.ui-loader.small {
  width: 1.71428571rem;
  height: 1.71428571rem;
  font-size: 0.92857143em;
}

.ui-dimmer.inverted .ui-loader,
.ui-loader {
  width: 2.28571429rem;
  height: 2.28571429rem;
  font-size: 1em;
}

.ui-dimmer.inverted .ui-loader.large,
.ui-loader.large {
  width: 3.42857143rem;
  height: 3.42857143rem;
  font-size: 1.14285714em;
}

.ui-dimmer.inverted .ui-loader.big,
.ui-loader.big {
  width: 3.71428571rem;
  height: 3.71428571rem;
  font-size: 1.28571429em;
}

.ui-dimmer.inverted .ui-loader.huge,
.ui-loader.huge {
  width: 4.14285714rem;
  height: 4.14285714rem;
  font-size: 1.42857143em;
}

.ui-dimmer.inverted .ui-loader.massive,
.ui-loader.massive {
  width: 4.57142857rem;
  height: 4.57142857rem;
  font-size: 1.71428571em;
}

/* Text Loader */

.ui-loader.mini.text {
  min-width: 1rem;
  padding-top: 1.78571429rem;
}

.ui-loader.tiny.text {
  min-width: 1.14285714rem;
  padding-top: 1.92857143rem;
}

.ui-loader.small.text {
  min-width: 1.71428571rem;
  padding-top: 2.5rem;
}

.ui-loader.text{
  min-width: 2.28571429rem;
  padding-top: 3.07142857rem;
}

.ui-loader.large.text {
  min-width: 3.42857143rem;
  padding-top: 4.21428571rem;
}

.ui-loader.big.text {
  min-width: 3.71428571rem;
  padding-top: 4.5rem;
}

.ui-loader.huge.text {
  min-width: 4.14285714rem;
  padding-top: 4.92857143rem;
}

.ui-loader.massive.text {
  min-width: 4.57142857rem;
  padding-top: 5.35714286rem;
}
