.input-test-page {
  width: 100%;
  padding: 5em 2.5em;

  .test-block {
    display: grid;
    grid-template: auto / 50% 50%;
    grid-gap: 1em;

    > div {
      grid-column-end: span 2;

      &:nth-child(2n),
      &:nth-child(3n) {
        grid-column-end: span 1;
      }
    }
  }
}
