.ui-input {
  width: 100%;

  svg {
    width: 1.5em;
    height: 1.5em;
  }

  &__title {
    margin-bottom: .5em;
  }

  &__hint-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      width: 2.2em;
      height: 2.2em;
      fill: var(--medium-theme-color);
    }
  }

  &__title-content {
    display: flex;
    align-items: center;
    font-size: .8em;

    .required-icon {
      color: var(--error-color);
      transform: scale(1.5);
      margin-left: .2em;
    }
  }

  &__body {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: .8em;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--theme-border-color);
    border-radius: 0.30769231rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &::placeholder {
      opacity: .5;
    }

    &::-ms-clear {
      display: none;
    }

    &:not(:disabled):focus {
      border-color: transparent;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(var(--medium-theme-color-rgb), 0.25);
    }

    &:disabled {
      background-color: var(--theme-disabled-color);
    }
  }

  &__error,
  &__success,
  &__clear {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: .8em;
    bottom: 0;
    height: 100%;
  }

  &__clear {
    display: flex;
    cursor: pointer;

    svg {
      fill: rgba(var(--stylish-color-rgb), .5);
    }

    &:hover {

      svg {
        fill: var(--stylish-color);
      }
    }
  }

  &__success {

    svg {
      fill: var(--success-color);
    }
  }

  &__error {

    svg {
      fill: var(--error-color);
    }
  }

  &__i-error {
    position: absolute;
    background: var(--error-background-color);
    color: rgba(var(--error-color-rgb), .85);
    font-size: .9em;
    border-radius: 0.30769231rem;
    display: none;
    top: calc(100% + .2em);
    margin-top: .5em;
    padding: .5em 1em;
    z-index: 1;
    border: 1px solid var(--error-color);

    &:after, &:before {
      content: "";
      bottom: 100%;
      left: 2em;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: .5em solid transparent;
      margin-left: -.5em;
    }

    &:after {
      border-bottom-color: var(--error-background-color);
      transform: translateY(1px);
    }

    &:before {
      border-bottom-color: var(--error-color);
    }
  }

  &.bottom &__i-error {
    top: unset;
    bottom: calc(100% + .2em);
    margin-bottom: .5em;
    margin-top: unset;

    &:after, &:before {
      bottom: unset;
      top: 100%;
    }

    &:after {
      border-top-color: var(--error-background-color);
      border-bottom-color: transparent;
      transform: translateY(-1px);
    }

    &:before {
      border-bottom-color: transparent;
      border-top-color: var(--error-color);
    }
  }

  &.success &__success {
    display: flex;
  }

  &.success &__input:not(:disabled) {
    padding-right: 2.8em;
  }

  &.error &__input:not(:disabled) {
    border-color: var(--error-color);
    color: var(--error-color);
    box-shadow: none;
    padding-right: 2.8em;

    &:focus {
      border-color: transparent;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(var(--error-color-rgb), .25);
    }
  }

  &.error &__error {
    display: flex;
  }

  &.error &__input:focus ~ &__i-error {
    display: block;
  }

  &.success &__clear,
  &.error &__clear {
    right: 3em;
  }

  &:not(.empty) &__input {
    padding-right: 2.8em;
  }

  &:not(.empty).success &__input,
  &:not(.empty).error &__input {
    padding-right: 5.4em;
  }

  &.empty &__clear {
    display: none;
  }

  &.read-only {
    font-weight: 600;
    border-bottom: 1px solid var(--theme-border-color);
  }

  &.read-only &__title {
    font-weight: 400;
  }

  /* ****************************** 1c style ********************************** */
  &.--style-1c {
    display: flex;
    align-items: center;
    border: 1px solid rgba(var(--theme-border-color-rgb), .5);
  }

  &.--style-1c &__title {
    background-color: rgba(var(--theme-border-color-rgb), .05);
    border: none;
    border-right: 1px solid rgba(var(--theme-border-color-rgb), .5);
    padding: .8em;
    margin: 0;
    flex: .4;
    overflow: hidden;
  }

  &.--style-1c &__title-content {
    font-size: inherit;
  }

  &.--style-1c &__body {
    flex: .6;
  }

  &.--style-1c &__input {
    border: none;
    border-radius: 0;

    &:focus {
      box-shadow: inset 0 0 0 0.2rem rgba(var(--medium-theme-color-rgb), .25);
    }
  }

  &.--style-1c.error &__input:not(:disabled) {

    &:focus {
      box-shadow: inset 0 0 0 0.2rem rgba(var(--error-color-rgb), .25);
    }
  }
}
