.ui-input {
  width: 100%;

  &__inner-wrapper {
    display: flex;
    align-items: center;
    grid-gap: .2em;
  }

  &__title {
    line-height: 1.5em;
    font-size: .9em;
    margin-bottom: .3em;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
    opacity: .7;
    overflow: hidden;

    &:hover {
      opacity: 1;
    }

    svg {
      display: block;
      fill: currentColor;
    }

    &--required {
      color: var(--error-color);
      width: .5em;
      height: .5em;
      margin-bottom: 100%;
    }

    &--hint {
      color: var(--medium-theme-color);
    }

    &--success {
      color: var(--success-color);
    }

    &--error {
      color: var(--error-color);
    }

    &--clear {
      color: var(--stylish-color);
      cursor: pointer;
    }
  }

  &__body {
    position: relative;
    padding: .6em .8em;
    background-color: var(--white);
    border: 1px solid var(--theme-border-color);
    border-radius: .3em;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;

    & .ui-input__inner-wrapper {
      grid-gap: .8em;
    }

    &:focus-within {
      border-color: transparent;
      box-shadow: 0 0 0 .2em rgba(var(--medium-theme-color-rgb), .25);
    }
  }

  &__input {
    flex: 1;
    outline: 0;
    border: none;

    &::placeholder {
      opacity: .5;
    }

    &::-ms-clear {
      display: none;
    }
  }

  &__i-error {
    position: absolute;
    background: var(--error-background-color);
    color: rgba(var(--error-color-rgb), .85);
    font-size: .9em;
    border-radius: 0.3em;
    display: none;
    top: 100%;
    margin-top: 1em;
    padding: .5em 1em;
    border: 1px solid var(--error-color);
    z-index: 1;

    &--bottom {
      top: unset;
      bottom: calc(100% + .2em);
      margin-bottom: .5em;
      margin-top: unset;

      &:after, &:before {
        bottom: unset;
        top: 100%;
      }

      &:after {
        border-top-color: var(--error-background-color);
        border-bottom-color: transparent;
        transform: translateY(-1px);
      }

      &:before {
        border-bottom-color: transparent;
        border-top-color: var(--error-color);
      }
    }

    &:after, &:before {
      content: "";
      bottom: 100%;
      left: 2em;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: .5em solid transparent;
      margin-left: -.5em;
    }

    &:after {
      border-bottom-color: var(--error-background-color);
      transform: translateY(1px);
    }

    &:before {
      border-bottom-color: var(--error-color);
    }

    ul {
      list-style: circle;
      padding-left: 1.2em;

      li:not(:last-of-type) {
        margin-bottom: .3em;
      }
    }
  }

  &:focus-within &__i-error {
    display: block;
  }

  /* ********************************** error ************************ */

  &--error &__input:not(:disabled) {
    color: var(--error-color);
  }

  &--error &__body {
    border-color: var(--error-color);

    &:focus-within {
      border-color: transparent;
      box-shadow: 0 0 0 .2em rgba(var(--error-color-rgb), .25);
    }
  }

  /* ****************************** 1c style ********************************** */
  &.--style-1c {
    display: flex;
    align-items: center;
    border: 1px solid rgba(var(--theme-border-color-rgb), .5);
  }

  &.--style-1c &__title {
    background-color: rgba(var(--theme-border-color-rgb), .05);
    border: none;
    border-right: 1px solid rgba(var(--theme-border-color-rgb), .5);
    padding: .6em .8em;
    margin: 0;
    flex: .4;
    overflow: hidden;
  }

  &.--style-1c &__title-content {
    font-size: inherit;
  }

  &.--style-1c &__body {
    flex: 1;
  }

  &.--style-1c:not(.--translate-title) &__title ~ &__body {
    flex: .6;
  }

  &.--style-1c &__input {
    border: none;
    border-radius: 0;

    &:focus {
      box-shadow: inset 0 0 0 0.2rem rgba(var(--medium-theme-color-rgb), .25);
    }
  }

  &.--style-1c.error &__input:not(:disabled) {

    &:focus {
      box-shadow: inset 0 0 0 0.2rem rgba(var(--error-color-rgb), .25);
    }
  }

  /* ****************************** vertical ********************************** */
  &.--vertical {
   flex-direction: column;
  }

  &.--vertical &__title {
      border-right: none;
      border-bottom: 1px solid rgba(var(--theme-border-color-rgb), 0.5);
      width: 100%;
  }

  &.--vertical &__body {
      width: 100%;
  }

  /* ****************************** translate-title ********************************** */
  &.--translate-title &__title {
    position: absolute;
    background-color: transparent;
    border: none;
    flex: unset;
    transition: all .2s linear;
    opacity: .6;
    user-select: none;
    pointer-events: none;
  }

  &.--translate-title:focus-within {
    position: relative;
  }

  &.--translate-title:focus-within &__title {
    transform: translateY(-100%);
    z-index: 1;
    font-size: .8em;
    opacity: 1;
  }

  &.--translate-title:not(.empty) &__title {
    transform: translateY(-100%);
    z-index: 1;
    font-size: .8em;
    opacity: 1;
  }

  /* ****************************** transparent ********************************** */
  &.--transparent &__input {
    background-color: rgba(var(--white-rgb), .6);

    &:focus {
      background-color: var(--white);
    }
  }

  &.--transparent &__input[value=""] {
    background-color: transparent;

    &:focus {
      background-color: var(--white);
    }
  }
}
