.reports-grid-page {

  &__top-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--theme-border-color-rgb), 0.05);
    padding: 0 1em;
    border: 1px solid rgba(var(--theme-border-color-rgb), 0.25);
    border-radius: .4em;
    grid-gap: 1em;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__report-list {
    flex: 1 1 170px;
    padding: .8em 0;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
      flex: 1 1 400px;
    }
  }

  &__toolbox-title {
    flex: 3 1 305px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--theme-title-color);
    padding: .4em 0;

    @media screen and (max-width: 767px) {
      flex: 1 1 400px;
    }
  }

  &__toolbox-selector {
    flex: 1 1 170px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .8em 0;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
      flex: 1 1 400px;
    }
  }

  &__btns {
    margin-top: 0.7em;
    right: 0;
    bottom: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: .5em;
    font-size: .8em;
    grid-gap: .4em;

    @media screen and (max-width: 767px) {
      position: unset;
      flex: 1 1 400px;
    }
  }

  &__body {
    flex: 1;
    position: relative;
  }

  &__scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: scroll;
  }
}
