@import '../../static/css/colors.scss';

.ui-toasts {
  bottom: 20px;
  position: fixed;
  right: 14px;
  width: 20%;
  z-index: 11;

  @media screen and (max-width: 1500px) {
    width: 30%;
  }

  @media screen and (max-width: 767px) {
    width: calc(100% - 2.4em);
    right: 1.2em;
  }

  .ui-toast {
    align-items: flex-start;
    border-radius: .8em;
    color: $white;
    display: flex;
    padding: .8em 1em;
    font-size: .7em;

    &__title {
      font-size: 1.3em;
      margin-bottom: .3em;
    }

    svg {
      fill: currentColor;
      width: 1.5em;
      height: 1.5em;
    }

    &.success {
      background-color: rgba($success-color, .85);
    }

    &.error {
      background-color: rgba($error-color, .85);
    }

    &__content {
      flex: 1 1 auto;
      margin: 0 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .9em;

      ul {

        li {
          line-height: 1.2em;
        }

        li:not(:last-of-type) {
          margin-bottom: .4em;
        }
      }
    }

    &__dismiss {
      background: transparent;
      border: 0;
      color: inherit;
      cursor: pointer;
      display: block;
      flex: 0 0 auto;
      font-size: 1.1em;
      padding: 0;
      user-select: none;
    }
  }
}
