@import '../../static/css/colors.scss';

.ui-toasts {
  bottom: 20px;
  position: fixed;
  right: 14px;
  width: 240px;
  z-index: 11;

  @media screen and (max-width: 767px) {
    width: calc(50% - 2.4em);
    right: 1.2em;
  }

  .ui-toast {
    align-items: flex-start;
    border-radius: .8em;
    color: $white;
    display: flex;
    padding: 1em 1.5em;
    margin-bottom: .5em;
    font-size: .7em;

    &.success {
      background-color: rgba($success-color, .85);
    }

    &.error {
      background-color: rgba($error-color, .85);
    }

    &:not(:last-child) {
      margin: 0 0 1.2em;
    }

    &__content {
      flex: 1 1 auto;
      margin: 0 1.2em 0 0;
      overflow: hidden;
      text-overflow: ellipsis;

      ul {

        li {
          margin: .5em 0;
        }
      }
    }

    &__dismiss {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      border: 0;
      color: inherit;
      cursor: pointer;
      display: block;
      flex: 0 0 auto;
      font: inherit;
      padding: 0;
      user-select: none;
    }
  }
}
