.rl-field {

  $parent: &;

  &__inner {
    display: flex;
    gap: .2em;
    align-items: center;
  }

  &__input {
    display: flex;
    align-items: center;
  }

  &__icon {

    &#{&}_type_error {
      color: var(--color-error);
    }
  }

  &__errors {
    padding-top: var(--space-xxxs);
    color: var(--color-error);
    font-size: var(--text-xs);
  }
}