.rl-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: var(--space-lg) var(--space-md);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: alpha-color(var(--color-neutral-darker), 0.7);

  @include fixedOverlay;

  &::before {
    margin-top: auto;
    content: '';
  }

  &::after {
    margin-bottom: auto;
    content: '';
  }

  @include breakpoint(lg) {
    padding: var(--space-lg) var(--space-xl);
  }
}
