.rl-overlay {
  display: grid;
  grid-template: 1fr / 1fr;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: var(--space-lg) var(--space-xl);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: alpha(var(--color-neutral-darker), .7);

  @include fixedOverlay;

  &::after {
    height: var(--space-lg);
    content: "";
  }
}
