.ui-pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  user-select: none;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  &__body {
    display: flex;
    width: max-content;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    @media screen and (max-width: 767px) {
      width: 2.8em;
      height: 2.8em;
    }

    @media screen and (max-width: 374px) {
      width: 2.2em;
      height: 2.2em;
    }

    &.active {
      background-color: var(--medium-theme-color);
      color: var(--white);

      &:hover {
        color: var(--white);
      }
    }

    &:hover {
      color: var(--light-theme-color);
    }
  }

  .paginate-next,
  .paginate-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(var(--theme-border-color-rgb), .4);

    &:hover {
      background-color: rgba(var(--theme-border-color-rgb), .1);
    }
  }

  &__go-to {
    display: flex;
    align-items: center;
    margin-left: 1em;

    @media screen and (max-width: 767px) {
      margin: 1em 0;
    }

    .input {
      margin: .2em .5em;
      padding: .6em 0 .6em 1.2em;
      line-height: 1.5;
      width: 5em;
      border: 1px solid rgba(var(--theme-border-color-rgb), .4);
      border-radius: .8em;
      background-color: transparent;
      outline: none;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

      &:focus {
        border-color: transparent;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(var(--medium-theme-color-rgb), .25);
      }
    }
  }

  .paginate-next {
    transform: rotate(180deg);
  }
}
