@mixin flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexUnsetCenter {
  display: flex;
  align-items: center;
}

.ui-rsuite-table__control-block {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-gap: 1em;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .select-wrapper {
    @include flexUnsetCenter;
    width: 160px;
    z-index: 3;

    span {
      white-space: nowrap;
      margin-right: .5em;
    }

    .ui-select-block {
      max-width: 70px;
    }
  }

  .control-block {

    &__left-side {
      @include flexUnsetCenter;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 1em;
      }

      .number-items {
        @include flexUnsetCenter;
      }

      .total-records {
        white-space: nowrap;
        margin-left: .5em;
      }
    }

    &__right-side {
      @include flexUnsetCenter;
      margin-left: auto;

      @media screen and (max-width: 767px) {
        margin-left: 0;
        width: 100%;
      }

      .ui-filter {
        margin-right: 1em;
      }
    }

    &__bottom-side {
      grid-column-end: span 2;
    }
  }

  .refresh-wrapper {
    @include flexCenterCenter;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: .5em;
    cursor: pointer;
    margin: 0 1em;
    user-select: none;
    color: var(--theme-border-color);

    &.--with-title {
      border-radius: 10em;
      padding: 0.5em 1em;
    }

    svg {
      width: 2em;
      height: 2em;
      fill: currentColor;
    }

    &:hover {
      background-color: rgba(var(--theme-border-color-rgb), .1);
      border: 1px solid rgba(var(--theme-border-color-rgb), .2);
      color: rgba(var(--medium-theme-color-rgb), .7);
    }

    &:active {
      background-color: rgba(var(--theme-border-color-rgb), .2);
      border: 1px solid rgba(var(--theme-border-color-rgb), .3);
      color: rgba(var(--medium-theme-color-rgb), 1);
    }
  }

  .search-wrapper {
    width: 250px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
