.page-header {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 0 .8em;

  &__user-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .user-info {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      height: 100%;
      padding: 1em 1.5em;

      & > span {
        white-space: nowrap;
        margin: 0 1em;
        user-select: none;
      }

      .avatar {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background-color: var(--white);
        overflow: hidden;
      }

      .user-menu {
        display: none;
        position: absolute;
        top: calc(100% + 1px);
        right: 0;
        width: 100%;
        background-color: var(--white);
        border: 1px solid rgba(var(--theme-border-color-rgb), .1);
        border-top: none;
        box-shadow: 0 10px 20px rgba(var(--theme-border-color-rgb), 0.12);
        overflow: hidden;
        z-index: 10;

        &__list {
          width: 100%;
        }

        &__item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 1.6em;

          & > svg {
            width: 1.4em;
            height: 1.4em;
            margin-right: 1.5em;
          }

          &:hover {
            background-color: rgba(var(--medium-theme-color-rgb), .65);
            color: var(--white);

            & > svg {
              fill: var(--white);
            }
          }

          &:nth-last-child(1) {
            border-top: 1px solid rgba(var(--theme-border-color-rgb), .5);
          }
        }
      }

      &.active,
      &:hover {
        background-color: rgba(var(--theme-border-color-rgb), 0.13);
      }

      &.active {
        .user-menu {
          display: flex;
        }
      }
    }
  }
}


@media screen and(max-width: 350px) {
  .page-header {
    &__user-info-wrapper {
      .user-info {
        padding: 1em .4em;
      }
    }
  }
}
