@import "./static/css/colors";
$persian_green: #00B5AD;

.App {
  display: flex;
  height: 100vh;

  .menu-container {
    display: grid;
    grid-template-rows: 1fr;
  }

  .page-container {
    display: grid;
    grid-template-rows: 60px 1fr 20px;
    position: relative;
    flex: 1;
  }

  .ui.segment {
    font-size: inherit;
    background-color: $theme-page-background;
  }

  .page {
    display: grid;
    grid-template-rows: 1fr;
    flex: 1;
    position: relative;

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 2em 3em;
      overflow-y: scroll;
      background-color: $theme-page-background;
      border-top-left-radius: 1.6em;

      &::-webkit-scrollbar-track {
        background-color: $theme-page-background;
      }

      &.--with-page-controls {
        bottom: 30px;
      }
    }
  }

  .element-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $theme-element-wrapper-background;
    padding: 1.5em;
    border-radius: .8em;
    box-shadow: 1px 3px 15px rgba(0,0,0,.05);

    &.--fullscreen {
      width: 100%;
      height: 100%;
    }
  }

  .ui-pagination {

    &__button {
      width: 36px;
      height: 36px;
      margin: 0 .2em;

      @media screen and (max-width: 359px) {
        width: 30px;
        height: 30px;
      }

      &.active {
        background-color: $persian_green;
      }
    }
  }
}
