.briefcases-page {
}

.queue-settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    margin: .2em 0;
  }

  .settings-item {

    &__header {
      display: flex;
      align-items: center;
      background-color: rgba(238, 238, 239, 0.65);
      padding: .3em .3em .3em .6em;
    }

    &__title {
      display: grid;
      grid-template: auto / 1fr auto;
      grid-gap: 1em;
      font-weight: 700;
      flex: 1;
    }

    &__dropdown-icon {
      cursor: pointer;
    }

    &__text {
      align-self: center;
    }

    &__btn {
      align-self: center;
      font-size: .8em;
    }

    &__body {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: .5em 0;
      padding: 0 .8em;
      min-height: 100px;

      .ui-react-select,
      .ui-input {
        margin: .2em 0;
      }
    }

    &__loader {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--white);
      z-index: 2;
    }
  }

  .recall {

  }

  .time-zone {

  }

  .main {

  }

}
