.rl-title {
  $parent: &;

  &__inner {
    display: inline-flex;
    gap: 0.15em;
    align-items: center;
  }

  &__text {
    display: inline-grid;

    span {
      @include overflow-ellipsis;
    }
  }

  &__icon {
    &_type_required {
      color: var(--color-error);
      font-size: 0.5em;
    }
  }
}
