.rl-title {

  &__inner {
    display: flex;
    align-items: center;
  }

  &__text {
    display: grid;

    span {
      @include overflow-ellipsis;
    }
  }

  &__icon {
    color: var(--color-error);

    svg {
      width: .7em;
      height: .7em;
    }
  }
}