@import "../../static/css/colors";

.zone-page {

  &__body {
    flex: 1;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 1em;
  }

  &__zone {
    flex: 1;
    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-gap: 1em;
    padding-top: .5em;
  }

  &__zone-selector {
    flex: 1;
    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-gap: 1em;
    z-index: 1;
    background-color: $white;
  }

  &__zone-info {
    position: relative;

    .info {
      flex: 1;
      display: grid;
      grid-template: auto / 1fr;
      grid-gap: .5em;
      padding-bottom: 1em;
    }

    .ui-element-title {
      margin-bottom: 1em;
    }

    .controls {
      display: flex;
      justify-content: flex-end;
    }

    .flip-card-inner.element-wrapper.--fullscreen {
      height: 165px;
    }
  }

  &__user-selector {
    opacity: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: transform 0.4s ease-in-out, opacity .2s ease-out;

    &.active {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.4s ease-in-out, opacity .4s ease-in;
      z-index: unset;
    }

    .add-user {
      display: grid;
      grid-template: auto / 1fr auto;
      grid-gap: 1em;
      padding-bottom: .5em;

      button {
        align-self: center;
      }
    }

    .list {
      position: relative;
      flex: 1;

      &__body {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        padding: .3em .5em;
      }

      &__item {
        display: grid;
        grid-template: auto / 1fr minmax(100px, max-content) auto minmax(100px, max-content);
        grid-gap: 1em;
        margin: .3em 0;
        padding: 1em;
        transition: box-shadow .3s ease-in-out;

        &:hover {
          box-shadow: 0 .1em .7em rgba(0,0,0,.25);
        }
      }

      &__item-column {

        .title {
          font-size: .8em;
          color: $theme-border-color;
          padding-bottom: .5em;
        }

        &.controls {
          align-self: center;
          justify-self: end;
        }
      }
    }
  }

  .zone:not(.sub-zone) {
    z-index: 1;
  }

  .sub-zone {
    opacity: 0;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out, opacity .2s ease-out;

    &.active {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0.4s ease-in-out, opacity .3s ease-in;
    }
  }

  &__add-zone-popup {

    .content {
      display: grid;
      grid-template: auto / minmax(0, 1fr);
      grid-gap: .5em;
    }
  }

  .flip-card {
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
  }

  .flip-card.active .flip-card-inner {
    transform: rotateX(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    top: 2em;
    right: 2em;
    bottom: 2em;
    left: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    display: flex;
    flex-direction: column;
    transform: rotateX(180deg);
  }

  .flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
