.ui-semantic-checkbox {
  width: 100%;

  svg {
    width: 1.5em;
    height: 1.5em;
  }

  &__title {
    margin-bottom: .5em;
  }

  &__title-content {
    display: flex;
    align-items: center;
    font-size: .8em;
  }

  .ui.checkbox.toggle {
    width: 3em;
    min-height: 1.8em;
    display: flex;

    input {
      flex: 1;
      width: unset;
      height: unset;
    }

    label {
      flex: 1;
      padding: 0;

      &:before {
        width: 3em;
        height: 100%;
        z-index: unset;
      }

      &:after {
        top: 50%;
        transform: translateY(-50%);
        width: 1.3em;
        height: 1.3em;
        left: .15em;
        z-index: unset;
      }
    }

    input:checked ~ label:after {
      left: 1.35em;
    }
  }

  &__body {
    position: relative;
  }

  /* ****************************** 1c style ********************************** */

  &.--style-1c {
    display: flex;
    align-items: center;
    border: 1px solid rgba(var(--theme-border-color-rgb), .5);
  }

  &.--style-1c &__title {
    background-color: rgba(var(--theme-border-color-rgb), .05);
    border: none;
    border-right: 1px solid rgba(var(--theme-border-color-rgb), .5);
    padding: .8em;
    margin: 0;
    flex: .4;
    overflow: hidden;
  }

  &.--style-1c &__title-content {
    font-size: inherit;
  }

  &.--style-1c &__body {
    flex: .6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &.--style-1c &__checkbox {
    padding: 0 .8em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
