@import "../../static/css/colors";

$ui-sidebar-dark-theme-background-color: #343a40;
$ui-sidebar-dark-theme-text-color: #c2c7d0;
$ui-sidebar-dark-theme-active-color: #0088ff;
$ui-sidebar-dark-theme-background-gradient: linear-gradient(35deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 15%,
        rgba(255, 255, 255, 0) 15.1%),
linear-gradient(25deg, rgba(255, 255, 255, 0.025) 0%, rgba(255, 255, 255, 0.05) 20%,
                rgba(255, 255, 255, 0) 20.1%),
linear-gradient(15deg, rgba(255, 255, 255, 0.0125) 0%, rgba(255, 255, 255, 0.025) 25%,
                rgba(255, 255, 255, 0) 25.1%),
linear-gradient(10deg, rgba(255, 255, 255, 0.00625) 0%, rgba(255, 255, 255, 0.0125) 27.5%,
                rgba(255, 255, 255, 0) 30.1%),
linear-gradient(10deg, rgba(255, 255, 255, 0) 94.9%, rgba(255, 255, 255, 0.025) 95%,
                rgba(255, 255, 255, 0.05) 100%),
linear-gradient(15deg, rgba(255, 255, 255, 0) 89.9%, rgba(255, 255, 255, 0.0125) 90%,
                rgba(255, 255, 255, 0.025) 95%),
linear-gradient(20deg, rgba(255, 255, 255, 0) 84.9%, rgba(255, 255, 255, 0.0125) 85%,
                rgba(255, 255, 255, 0.025) 90%);

.ui-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: $white;
  color: $light-theme-color;
  white-space: nowrap;
  transition: width .2s ease-in-out;

  &__tooltip {
    position: fixed;
    background-color: $white;
    padding: 1em;
    border-radius: 0.30769231rem;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__btn-title {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  a:not(:hover) {
    color: $theme-border-color;
  }

  &__btn,
  &__link-btn {
    display: flex;
    align-items: center;
    width: 100%;
    color: $theme-border-color;
    padding: .8em 0;
    margin-bottom: .3em;
    border-radius: 0.30769231rem;
    cursor: pointer;
    user-select: none;
    transition: width .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
    position: relative;

    svg {
      width: 24px;
      height: 24px;
      fill: $theme-border-color;
      transition: all .2s ease-in-out;
      user-select: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);;
      color: $light-theme-color;

      svg {
        fill: $light-theme-color;
      }
    }

    > div:first-of-type {
      width: 56px;
      min-width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > div:last-of-type {
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: width .2s ease-in-out;
      white-space: nowrap;

      svg {
        margin-right: 6px;
      }
    }

    > span {
      background-color: $white;
      padding: 10px;
      border-radius: 0.30769231rem;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .22);
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 57px;
    padding: 0 .8em;
    border-bottom: 1px solid rgba($theme-border-color, .25);

    img {
      width: 20px;
    }
  }

  &__logo &__btn {
    cursor: default;

    &:hover {
      background-color: transparent;
    }

    > div:last-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-weight: 600;
      text-shadow: none;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $trout;
    margin: 16px 0;
    padding: 0 8px 16px 8px;
    height: 57px;
    width: 100%;

    .ui-search {

      &__input {
        transition: width .2s ease-in-out;
      }

      &__icon {
        transition: all .2s ease-in-out;
      }
    }
  }

  &__navigation {
    position: absolute;
    top: 1.6em;
    right: 0;
    bottom: 1.6em;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0 0 .8em;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
    }
  }

  /* *************************************************** hide ******************************************* */
  &.hide {
    width: 72px;
  }

  &.hide &__search {
    user-select: none;

    .ui-search {

      &__input {
        display: none;
        width: 0;
      }

      &__clear {
        display: none;
      }

      &__icon {
        right: 50%;
        transform: translateX(50%);
      }
    }
  }

  &.hide &__item > &__btn,
  &.hide &__item > &__link-btn {
    z-index: 9;

    > div:last-of-type {
      width: 0;
    }
  }

  &.hide &__sub-items-list-wrapper {
    width: 210px;
    position: fixed;
    color: $white;
    background-color: $outer_space;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .22);
    left: 80px;
    z-index: 1;
  }

  /* *************************************************** active btn ******************************************* */

  &__item.active > &__link-btn,
  &__item.active &__btn {
    color: $medium-theme-color;
    background-color: $white;

    svg {
      fill: $medium-theme-color;
    }
  }

  &__item.open &__btn-arrow {
    transform: rotate(90deg);
  }

  &__item.active &__link-btn.active {
    background-color: rgba(255, 255, 255, .9);
    color: $medium-theme-color;

    svg {
      fill: $medium-theme-color;
    }
  }

  /* *************************************************** compact ******************************************* */

  &.--compact {
    box-shadow: none;
    width: 140px;
  }

  &.--compact &__logo {
    border: none;
    height: 7em;
    margin-top: 1em;

    img {
      width: 7em;
    }
  }

  &.--compact &__navigation {
    top: 3em;
  }

  &.--compact &__btn,
  &.--compact &__link-btn {
    flex-direction: column;

    svg {
      width: 3em;
      height: 3em;
    }

    > div:first-of-type {
      width: unset;
      min-width: unset;
    }

    > div:last-of-type {
      justify-content: center;
      padding-top: .5em;
    }
  }

  &.--compact &__btn-title {
    flex: unset;
    white-space: normal;
    text-align: center;
    font-size: .8em;
  }

  &.--compact &__item {
    border-right: .3em solid transparent;
  }

  &.--compact &__item.active {
    border-right-color: $medium-theme-color;
  }

  /* *************************************************** dark-theme ******************************************* */

  &.--dark-theme {
    background-color: $ui-sidebar-dark-theme-background-color;
    color: $ui-sidebar-dark-theme-text-color;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .22);
    background-image: $ui-sidebar-dark-theme-background-gradient;
  }

  &.--dark-theme &__tooltip {
    color: $white;
    background-color: $ui-sidebar-dark-theme-background-color;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .22);
  }


  &.--dark-theme &__btn,
  &.--dark-theme &__link-btn {

    svg {
      fill: $ui-sidebar-dark-theme-text-color;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);
      color: $white;

      svg {
        fill: $white;
      }
    }

    > span {
      background-color: $ui-sidebar-dark-theme-background-color;
    }
  }

  &.--dark-theme &__item.active > &__link-btn,
  &.--dark-theme &__item.active &__btn {
    color: $white;
    background-color: $ui-sidebar-dark-theme-active-color;

    svg {
      fill: $white;
    }
  }

  &.--dark-theme &__item.active &__link-btn.active {
    background-color: rgba(255, 255, 255, .9);
    color: $ui-sidebar-dark-theme-background-color;

    svg {
      fill: $ui-sidebar-dark-theme-background-color;
    }
  }
}
