.ui-sidebar {
  height: 100vh;
  width: 110px;
  border-right: 1px solid rgba(var(--theme-border-color-rgb), .5);

  @media screen and (max-width: 1000px) {
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    background-color: var(--white);
    z-index: 10;

    &.show {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 1000px) {
    &__logo {
      display: none;
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__close {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 2.6em;
    top: 2.6em;
    opacity: .6;
    z-index: 1;

    @media screen and (max-width: 1000px) {
      display: flex;
    }

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.6em;
    right: .25em;
    bottom: 1.6em;
    left: 0;
    overflow-y: scroll;
    padding: 0 0 0 .25em;

    @media screen and (max-width: 1000px) {
      top: 4.2em;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1000px) {
      padding-bottom: 4em;
    }
  }

  &__list-title {
    display: none;
    float: left;
    width: 100%;
    padding: 0 0 1.8em 2.6em;
    color: var(--theme-title-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    margin: 0;

    @media screen and (max-width: 1000px) {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: .5em 0;
    margin: .6em 0;
    border-left: .3em solid transparent;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    color: var(--theme-menu-color);

    @media screen and (max-width: 1000px) {
      flex-direction: row;
    }

    &.active {
      color: var(--theme-menu-active-color);
      border-left-color: var(--theme-menu-active-color);
    }

    &:hover {
      text-decoration: underline;
    }

    svg {
      width: 2em;
      height: 2em;
      fill: currentColor;
      user-select: none;

      @media screen and (max-width: 1000px) {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  &__item-title {
    font-size: .9em;
    display: flex;
    align-items: center;
  }

  &__item-icon {
    display: flex;
    align-items: center;
    padding: .5em;

    @media screen and (max-width: 1000px) {
      padding: 0 2em 0 2.65em;
    }
  }
}
