@import "../../static/css/colors";

.ui-tab {
  width: 100%;
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ui.menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    font-size: inherit;
  }

  .ui.tab {
    flex: 1;
  }
}
