.ui-tab {
  width: 100%;
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ui.menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    font-size: inherit;
    border-color: transparent;
  }

  .ui.tab {
    flex: 1;
  }

  .ui.menu .active.item {
    background: none var(--theme-page-background);
    color: var(--medium-theme-color);
    position: relative;
    border-color: transparent;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 1.46153846em;
      width: 35%;
      height: 3px;
      border-radius: .8em;
      background-color: var(--medium-theme-color);
    }
  }
}
