.rl-background {
  @include overlay;

  z-index: var(--zindex-negative);

  $parent: &;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  // ---------- Theme magenta ---------- //
  &#{&}_theme_magenta {
    background: linear-gradient(135deg, rgba(215, 230, 255, 1) 0%,
            rgba(243, 219, 246, 1) 50%, rgba(240, 220, 247, 1) 55%,
            rgba(217, 227, 255, 1) 100%) fixed;
  }

  // ---------- Type corners ---------- //
  &#{&}_type_corners {

    #{$parent}__inner {
      background: url(~@assets/images/bg_corners/purple/left_top.webp) no-repeat left top,
      url(~@assets/images/bg_corners/purple/left_bottom.webp) no-repeat left bottom,
      url(~@assets/images/bg_corners/purple/right_bottom.webp) no-repeat right bottom,
      url(~@assets/images/bg_corners/purple/right_top.webp) no-repeat right top;
    }
  }
}
